.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 0.5rem 1rem;
}

.logo {
  font-size: 1.5rem;
}

.link {
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.profileBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  color: black;
  min-width: 150px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 0.5rem;
}

.username {
  margin: 0;
  font-weight: bold;
}


.logoutBtn {
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff; /* blue text */
  background-color: #e74c3c;
  border: 2px solid #e74c3c; /* blue border */
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 2rem;
}